<tbody class="card">
    {{#if tool}}
    {{#each tool}}
    <tr>
        <td class="col s3 m6 l3">{{serialNumber}}</td>
        <td class="col s2 m7 l3">{{partNumber}}</td>
        <td class="col s3 m6 l3">{{barcode}}</td>
        <td class="col s2 m6 l3">{{description}}</td>
        <td class="col s2 m7 l3">{{status}}</td>
        <td class="col s2 m7 l3">{{serviceAssignment}}</td>
        <td class="col s2 m7 l3">{{lastUpdate}}</td>
        <td class="col s2 m7 l3"><a href="/tools/{{_id}}">}</td>
    </tr>
    {{/each}}
    {{else}}
    <h5>There are no tools to display</h5>
    {{/if}}
</tbody>