<div class="overflow-y-scroll max-h-[75vh]  z-0 relative">
  <table class="table table-xs mt-2 max-h-min table-pin-rows table-pin-cols" id="recentlyUpdatedTable" {{#unless onboarding.progress.dashboardCompleted}} data-title="Recently Updated" data-intro="This is a list of 50 tools that have been most recently updated."{{/unless}}  >
    <thead>
      <tr>
        <td>
          <div id="printButton" class="md:mr-3 md:items-start">
            <i class="fa-solid fa-print"></i>
          </div>
        </td>
        <th>Barcode (Link To Tool)</th>
        <th>Status</th>
        <th class="hidden md:table-cell">Job Code / Name</th>
        <th>Updated</th>
      </tr>
    </thead>
    {{#if tools}}
      <tbody>
        {{#each tools}}
          <tr>
            <td></td>
            <td id="barcode"><a href="/tool/{{id}}">{{barcode}}</a></td>
            <td class="hidden md:table-cell" id="status">{{status}}</td>
            <td class="hidden md:table-cell" id="serviceAssignment">{{serviceAssignment.jobNumber}}</td>
            <td>{{hbsDate_distanceFromToday updatedAt}}</td>
          </tr>
        {{/each}}
      </tbody>
    {{/if}}
  </table>
  {{!-- THIS IS THE PRINTER FRIENDLY PAGES HTML. THIS IS JUST A CONVENIENT PLACE FOR HANDLEBARS TO RENDER IT --}}
  {{> _printerFriendly}}
  {{!-- END OF CONVENIENT SSR LOCATION --}}
</div>