


{{#if tools}}
<table class="blueTable">
    <thead>
        <tr class="table-headers dark-blue card">
            <th class="table-header col s2 m5 l3">Serial number</th>
            <th class="table-header col s5 m5 l3">Part Number</th>
            <th class="table-header col s2 m5 l3">Barcode #</th>
            <th class="table-header col s2 m5 l3">Description</th>
            <th class="table-header col s2 m5 l3">Status</th>
            <th class="table-header col s2 m5 l3">Service Assignment</th>
            <th class="table-header col s2 m5 l3">Last Update</th>
            <th class="table-header col s2 m5 l3">Edit</th>
        </tr>
    </thead>
    <tbody class="card">
        {{#each tool}}
        <tr>
            <td class="col s3 m6 l3">{{serialNumber}}</td>
            <td class="col s2 m7 l3">{{partNumber}}</td>
            <td class="col s3 m6 l3">{{barcode}}</td>
            <td class="col s2 m6 l3">{{description}}</td>
            <td class="col s2 m7 l3">{{status}}</td>
            <td class="col s2 m7 l3">{{serviceAssignment}}</td>
            <td class="col s2 m7 l3">{{lastUpdate}}</td>
            <td class="col s2 m7 l3"><a href="/tools/{{_id}}">}</td>
        </tr>
        {{/each}}
    </tbody>
    {{else}}
    <h5> There are no tools to display </h5>
    {{/if}}
</table>
