<div class="main-view">
  {{#if serviceAssignments}}
    <form action="/settings/serviceAssignments/edit" method="POST">
      <div class="mb-2 title-bar">
        <h3 class="title-text">Update Service Assignment</h3>
      </div>
      {{#each serviceAssignments}}
        <div class="gap-2 columns-1 md:columns-2 form-control justify-items-center">
          <input id="edit-service-assignment_id" name="id" value="{{id}}" type="hidden" />
          <div class="form-control">
            <label class="label"><span class="label-text">Name</span></label>
            <input id="edit-service-assignment_name" name="name" value="{{name}}" type="text" class="input input-bordered" />
          </div>
          <div class="form-control">
            <label class="label"><span class="label-text">Description</span></label>
            <input id="edit-service-assignment_description" name="description" value="{{description}}" type="text" class="input input-bordered" />
          </div>
          <div class="form-control">
            <label for="type" class="label"><span class="label-text">Type</span></label>
            <select name="type" class="select select-bordered">
             <option value="contractJob" {{isSelected type 'contractJob'}}>Contract Job</option>
             <option value="serviceJob" {{isSelected type 'serviceJob'}}>Service Job</option>
             <option value="vehicle" {{isSelected type 'vehicle'}}>Vehicle</option>
             <option value="employee" {{isSelected type 'employee'}}>Employee</option>
             <option value="stockroom" {{isSelected type 'stockroom'}}>Stockroom</option>
             <option value="importedUncategorized" {{isSelected type 'importedUncategorized'}}>Imported - Uncategorized</option>
             <option value="errorUncategorized" {{isSelected type 'errorUncategorized'}}>Error - Uncategorized</option>
            </select>
          </div>
          <div class="form-control">
            <label class="label"><span class="label-text">Phone Number</span></label>
            <input id="edit-service-assignment_phone" name="phone" value="{{phone}}" type="text" class="input input-bordered" />
          </div>
          <div class="form-control">
            <label class="label"><span class="label-text">Notes</span></label>
            <input id="edit-service-assignment_notes" name="notes" value="{{notes}}" type="textarea" class="input input-bordered" />
          </div>
        </div>
      {{/each}}
      <div class="modal-button-row">
        <label class="modal-button"><a href="/settings/serviceAssignments">Cancel</a></label>
        <label class="modal-button"><button id="edit-service-assignment_submit" type="submit">Submit</button></label>
      </div>
    </form>
  {{/if}}
</div>