<div class="flex flex-wrap ">
    <div id="message">
        {{#if message}}
            <span title="message">
                <div class="alert">{{message}}</div>
            </span>
        {{/if}}
    </div>
    <div id="settings-nav" class="w-auto mt-10">
        {{> _settings}}
    </div>
    <div class="flex-grow">
        <table class="table">
            <thead>
                <tr>
                    <th>Display Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Disabled?</th>
                    <th>Edit</th>
                </tr>
            </thead>

            <tbody>
                {{#if users}}
                    {{#each users}}
                        <tr class="text-center">
                            <td>{{displayName}}</td>
                            <td>{{email}}</td>
                            <td>{{role}}</td>
                            <td>
                                {{#eq false isDisabled}}<i class="fa-regular fa-square"></i>{{/eq}}
                                {{#eq true isDisabled}}<i class="fa-regular fa-square-check"></i>{{/eq}}
                            </td>
                            <td>
                                <label class="rounded-badge btn-xs">
                                    <a href="/manager/user/{{id}}">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                </label>
                            </td>
                        </tr>
                    {{/each}}
                {{/if}}
            </tbody>
        </table>

        <div class="mx-5">
            <div
                class="inline-block px-4 py-1.5 text-sm font-medium no-underline rounded-lg btn btn-sm lg:-ml-2">
                <label for="newUserModal">New User</label>
            </div>
        </div>
    </div>
</div>