<input type="checkbox" id="cloneToolModal" class="modal-toggle" />
<div class="modal">
    <div class="modal-inner-lg">
        <label for="cloneToolModal" class="modal-close-btn">✕</label>
        <form action="/tool/submit" method="POST">
            <input id="clone-tool_modelNumber" name="modelNumber" type="hidden" value="{{tool.modelNumber}}" />
            <input id="clone-tool_description" name="description" type="hidden" value="{{tool.description}}" />
            <input id="clone-tool_manufacturer" name="manufacturer" type="hidden" value="{{tool.manufacturer}}" />
            <input id="clone-tool_category" name="category" type="hidden" value="{{tool.category.id}}">
            <input id="clone-tool_width" name="width" type="hidden" value="{{tool.size.width}}" />
            <input id="clone-tool_length" name="length" type="hidden" value="{{tool.size.length}}" />
            <input id="clone-tool_height" name="height" type="hidden" value="{{tool.size.height}}" />
            <input id="clone-tool_weight" name="weight" type="hidden" value="{{tool.size.weight}}" />
            <div class="grid grid-cols-2 gap-4 w-full items-center;">
                <div class="col-span-full drop-shadow-xl">
                    <h3 class="title-text">Enter unique values to clone this tool</h3>
                </div>

                <input id="clone-tool_serialNumber" name="serialNumber" type="text" placeholder="Serial Number"
                    class="input input-bordered" minlength="5" required />
                <input id="clone-tool_barcode" name="barcode" type="text" placeholder="Barcode"
                    class="input input-bordered" required />
                <input id="clone-tool_toolID" name="toolID" type="text" placeholder="Tool ID"
                    class="input input-bordered" value="{{tools.0.category.prefix}}-" />
                <select name="serviceAssignment" class="select select-bordered" id="clone-tool_serviceAssignment">
                </select>

                <div class=" col-start-2 modal-action float-right">
                    <label class="modal-button" for="cloneToolModal">Cancel</label>
                    <label class="modal-button"><button id="clone-tool_submit" type="submit">Submit</button></label>
                </div>
            </div>
        </form>
    </div>
</div>