<div class="dashboard-base">
    {{#if message}}
    <div class="alert">{{message}}</div>
    {{/if}}
    {{#if searchTerms}}
        <h1 id="search-terms">Searched For: <br />{{searchTerms}}</h1>
    {{/if}}
    <table class="dashboard-table">
        <thead>
            <tr>
                <th>Serial number</th>
                <th>Part Number</th>
                <th>Barcode #</th>
                <th>Description</th>
                <th>Status</th>
                <th>Service Assignment</th>
                <th>Edit</th>
            </tr>
        </thead>
        {{#if tools}}
        <tbody>
            {{#each tools}}
            {{#unless archived}}
            <tr>
                <td class="col-even">{{serialNumber}}</td>
                <td class="col-odd">{{partNumber}}</td>
                <td class="col-even">{{barcode}}</td>
                <td class="col-odd">{{description}}</td>
                <td class="col-even">{{status}}</td>
                <td class="col-odd">{{serviceAssignment}}</td>
                <td>
                    <div class="dropdown dropdown-end">
                        <label tabindex="0" class="hover:text-black font-medium text-lg py-2 btn-ghost rounded-btn">
                            <i class="fa-solid fa-chevron-down"></i></label>
                        <ul tabindex="0" class="menu dropdown-content p-2 shadow bg-base-100 rounded-box w-52 mt-4">
                            <li><a href="/tool/{{id}}">Edit</a></li>
                            <li><a href="/tool/archive/{{id}}">Archive</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            {{/unless}}
            {{/each}}
            {{/if}}
        </tbody>
    </table>
</div>
<br />
{{#isnt paginate.pageCount 0}}
<ul class="paginate-bar">
    {{#paginate pagination type="first"}}
    <div class="col-auto"><a href="?p={{n}}"><button class="btn-paginate">First</button></a></div>
    {{/paginate}}
    {{#paginate pagination type="previous"}}
    <div class="col-auto"><a href="?p={{n}}"><button class="btn-paginate">Previous</button></a></div>
    {{/paginate}}
    {{#paginate pagination type="middle" limit="9"}}
    <div class="{{#if active}}active{{/if}} col"><a href="?p={{n}}"><button class="btn-paginate">{{n}}</button></a>
    </div>
    {{/paginate}}
    {{#paginate pagination type="next"}}
    <div class="col-auto"><a href="?p={{n}}"><button class="btn-paginate">Next</button></a></div>
    {{/paginate}}
    {{#paginate pagination type="last"}}
    <div class="col-auto"><a href="?p={{n}}"><button class="btn-paginate">Last</button></a></div>
    {{/paginate}}
</ul>
{{/isnt}}
</div>