{{#if tools}}

<div class="container">
    <div class="card">
        <div class="card-header text-white" style="background-color: #494949;">
            {{#if message}}
            <h5>{{message}}</h5>
            {{else}}
            <h5>Edit A Tool Entry</h5>
            {{/if}}
        </div>
        <form action="/tool/update/" method="POST">
            {{#each tools}}
            <div class="card-body">
                <div class="row gx-3">
                    <div class="col">
                        <input type="hidden" name="_id" value="{{_id}}">
                        <label for="serialNumber">Serial Number:</label>
                        <input type="text" class="form-control" name="serialNumber" placeholder="Serial Number"
                            aria-label="Serial Number" value="{{serialNumber}}" disabled>
                    </div>
                    <div class="col">
                        <label for="partNumber">Part Number:</label>
                        <input type="text" class="form-control " name="partNumber" placeholder="Part Number"
                            aria-label="Part Number" value="{{partNumber}}" disabled>
                    </div>
                </div>
                <div class="row gx-3">
                    <div class="col">
                        <label for="barcode">Barcode:</label>
                        <input type="text" class="form-control" name="barcode" placeholder="Barcode"
                            aria-label="Barcode" value="{{barcode}}" disabled>
                    </div>
                    <div class="col">
                        <label for="description">Description:</label>
                        <input type="text" class="form-control" name="description" placeholder="Description"
                            aria-label="Description" value="{{description}}">
                    </div>
                </div>
                <div class="row gx-3">
                    <div class="col  {{#if serviceAssignmentChanged}}bg-danger-subtle{{/if}}">
                        <label for="serviceAssignment">Service Assignment:</label>
                        <input type="text" class="form-control " name="serviceAssignment"
                            placeholder="Service Assignment" aria-label="Barcode" value="{{serviceAssignment}}">
                    </div>

                    <div class="col {{#if statusChanged}}bg-danger-subtle{{/if}}">
                        <label for="status">Status:</label>
                        <select class="form-control" name="status" id="status" placeholder="Status"
                            aria-label="Description">
                            <option value="Checked In" {{#eq status "Checked In" }}selected{{/eq}}>Checked In</option>
                            <option value="Checked Out" {{#eq status "Checked Out" }}selected{{/eq}}>Checked Out
                            </option>
                        </select>
                    </div>
                </div>
            </div> {{/each}}
            <div class="card-footer ">
                <a href="/dashboard"><button type="button" class="btn btn-secondary">Cancel</button></a>
                <button name="NewToolModalSubmitBtn" type="submit" class="btn btn-primary submit">Submit</button>
            </div>
        </form>
    </div>
</div>

{{else}}
<h3 class="alert-danger">Somehow you got to the <i>edit tool</i> page without the tool's data</h3>
{{/if}}