<div class="container">
    <div class="container-fluid">
        {{!-- TODO - Modal pops up on click to create user --}}
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newUserModal">
            Create New User
        </button>

        <table class="table table-striped">
            <thead>
                <th>Email</th>
                <th>Name</th>
                <th>Last Login</th>
                <th>Role</th>
                <th>Disabled?</th>
                <th></th>
            </thead>
            {{#if users}}
            {{#each users}}
            <tr>
                <td>{{email}}</td>
                <td>{{displayName}}</td>
                <td>{{lastLogin}}</td>
                <td>{{role}}</td>
                <td>{{isDisabled}}</td>
                <td>
                    {{!-- This whole section is the actions menu for editing user objects --}}
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="bi bi-pencil-square"></i>
                        </button>

                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/user/{{id}}">Edit</a></li>
                            <li><a class="dropdown-item" href="/user/resetPW/{{id}}">Reset
                                    Password</a></li>
                            <li><a class="dropdown-item" href="/user/disable/{{id}}">Disable User</a></li>

                        </ul>
                    </div>
                    {{!-- END ACTIONS MENU --}}
                </td>
            </tr>
            {{/each}}
        </table>
        {{/if}}
    </div>
</div>
