<div class='flex-shrink-0 container p-3 ml-5 bg-zinc-200 dark:bg-zinc-800 rounded-box w-44 h-[330px]'>
    <ul class='side-nav font-semibold'>
        <li class='mb-2 p-0.5 rounded-xl text-zinc-800 dark:text-zinc-300 hover:bg-zinc-300 dark:hover:bg-zinc-700 hover:text-zinc-900 dark:hover:text-zinc-100 transition-colors'>
            <a href='{{baseUrl}}/docs/faq'>F.A.Q</a>
        </li>
        <li class='mb-2 p-0.5 rounded-xl text-zinc-800 dark:text-zinc-300 hover:bg-zinc-300 dark:hover:bg-zinc-700 hover:text-zinc-900 dark:hover:text-zinc-100 transition-colors'>
            <a href='{{baseUrl}}/docs/getting-started'>Getting Started</a>
        </li>
        <li class='mb-2 p-0.5 rounded-xl text-zinc-800 dark:text-zinc-300 hover:bg-zinc-300 dark:hover:bg-zinc-700 hover:text-zinc-900 dark:hover:text-zinc-100 transition-colors'>
            <a href='{{baseUrl}}/docs/toolManagement'>Tool Management</a>
        </li>
        <li class='mb-2 p-0.5 rounded-xl text-zinc-800 dark:text-zinc-300 hover:bg-zinc-300 dark:hover:bg-zinc-700 hover:text-zinc-900 dark:hover:text-zinc-100 transition-colors'>
            <a href='{{baseUrl}}/docs/gettingStarted'>Service Assignments</a>
        </li>
        <li class='mb-2 p-0.5 rounded-xl text-zinc-800 dark:text-zinc-300 hover:bg-zinc-300 dark:hover:bg-zinc-700 hover:text-zinc-900 dark:hover:text-zinc-100 transition-colors'>
            <a href='{{baseUrl}}/docs/reporting'>Reporting</a>
        </li>
        <li class='mb-2 p-0.5 rounded-xl text-zinc-800 dark:text-zinc-300 hover:bg-zinc-300 dark:hover:bg-zinc-700 hover:text-zinc-900 dark:hover:text-zinc-100 transition-colors'>
            <a href='{{baseUrl}}/docs/userRoles'>User Roles and Permissions</a>
        </li>
        <li class='mb-2 p-0.5 rounded-xl text-zinc-800 dark:text-zinc-300 hover:bg-zinc-300 dark:hover:bg-zinc-700 hover:text-zinc-900 dark:hover:text-zinc-100 transition-colors'>
            <a href='{{baseUrl}}/docs/administrator'>Administrator Guide</a>
        </li>
        <li class='mb-2 p-0.5 rounded-xl text-zinc-800 dark:text-zinc-300 hover:bg-zinc-300 dark:hover:bg-zinc-700 hover:text-zinc-900 dark:hover:text-zinc-100 transition-colors'>
            <a href='{{baseUrl}}/docs/troubleshooting'>Troubleshooting and Support</a>
        </li>
    </ul>
</div>