<div class="main-view">
    {{!-- tools to be checked in --}}
    <form action="/tool/submitCheckInOut" method="post">
        <table class="table overflow-visible ">
            <thead>
                <tr>
                    <th>Barcode</th>
                    <th>Serial number</th>
                    <th>Current SA</th>
                    <th>New SA</th>
                </tr>
            </thead>
            {{#if tools}}
                <tbody>
                    {{#if displaySelector}}
                    <select name="destinationServiceAssignment" class="select select-bordered">
                        {{#each allServiceAssignments}}
                        <option value="{{id}}" {{isSelected id ../destinationServiceAssignment}}>
                            {{name}} - {{description}}
                        </option>
                        {{/each}}
                        {{#else}}
                    <input type="hidden" name="newServiceAssignment" value="{{destinationServiceAssignment}}">
                    {{/else}}
                        {{/if}}
                    {{#each tools}}
                        {{#if _id}}
                            <tr>
                                <input type="hidden" name="id" value="{{id}}">
                                <td>{{serialNumber}}</td>
                                <td>{{barcode}}</td>

                                <td name="serviceAssignment">{{serviceAssignment.name}} -
                                    {{serviceAssignment.description}}
                                </td>
                                <td name="newServiceAssignmment">
                                    {{getServiceAssignmentName ../allServiceAssignments ../destinationServiceAssignment}}
                                    
                                </td>
                            </tr>
                        {{else}}
                            <tr class="bg-red-400 text-black">
                                <td>Tool Not Found</td>
                                <td>{{serialNumber}}</td>

                                <td name="serviceAssignment">
                                </td>
                                <td name="newServiceAssignmment">
                                    <select name="dummyBlank" class="select select-bordered bg-red-300">
                                        <option>Tool Not Found</option>
                                    </select>
                                </td>
                            </tr>
                            {{/if}}
                    {{/each}}
            {{/if}}
            </tbody>
        </table>
        <div class="form-control items-center">
            <button id="check-in-out_submit" class="btn btn-neutral w-1/3" type="submit">Confirm And Submit</button>
        </div>
    </form>
    {{#if user.preferences.developer}}
    {{destinationServiceAssignment}}
    {{/if}}
</div>