<div>
    <div class="relative z-0 main-view">
        {{#if message}}
            <div class="alert">{{message}}</div>
        {{/if}}
        {{#if searchTerms}}
            <h1 id="search-terms">Searched For: <br />{{searchTerms}}</h1>
        {{/if}}
        <table class="table overflow-visible ">
            <thead>
                <tr>
                    <th>Serial number</th>
                    <th class="hidden md:grid">Part Number</th>
                    <th>Barcode #</th>
                    <th class="hidden md:grid">Description</th>
                    <th class="hidden md:grid">Status</th>
                    <th class="hidden md:grid">Service Assignment</th>
                </tr>
            </thead>
            {{#if tools}}
                <tbody">
                    {{#each tools}}
                        {{#unless archived}}
                            <tr>
                                <td id="serialNumber">{{serialNumber}}</td>
                                <td class="hidden md:grid" id="partNumber">{{partNumber}}</td>
                                <td id="barcode">{{barcode}}</td>
                                <td class="hidden md:block"id="description">{{description}}</td>
                                <td class="hidden md:grid" id="status">{{status}}</td>
                                <td class="hidden md:grid" id="serviceAssignment">{{serviceAssignment}}</td>
                                <td></td>
                            </tr>
                        {{/unless}}
                    {{/each}}
            {{/if}}
            </tbody>
        </table>
    </div>
    <br />
    {{#gt pagination.pageCount 1}}
        <ul class="paginate-bar">
            {{#paginate pagination type="first"}}
                <div class="col-auto"><a href="?p={{n}}"><button class="btn-paginate">First</button></a></div>
            {{/paginate}}
            {{#paginate pagination type="previous"}}
                <div class="col-auto"><a href="?p={{n}}"><button class="btn-paginate">Previous</button></a></div>
            {{/paginate}}
            {{#paginate pagination type="middle" limit="9"}}
                <div class="{{#if active}}active{{/if}} col"><a href="?p={{n}}"><button
                            class="btn-paginate">{{n}}</button></a>
                </div>
            {{/paginate}}
            {{#paginate pagination type="next"}}
                <div class="col-auto"><a href="?p={{n}}"><button class="btn-paginate">Next</button></a></div>
            {{/paginate}}
            {{#paginate pagination type="last"}}
                <div class="col-auto"><a href="?p={{n}}"><button class="btn-paginate">Last</button></a></div>
            {{/paginate}}
        </ul>
    {{/gt}}
</div>
</div>