<div class="main-view">
    {{#if message}}
        <div class="alert">{{message}}</div>
    {{/if}}
    {{#if searchTerms}}
        <h1 id="search-terms">Searched For: <br />{{searchTerms}}</h1>
    {{/if}}
    <table class="table overflow-visible ">
        <thead>
            <tr>
                <th>Serial number</th>
                <th class="hidden md:table-cell">Part Number</th>
                <th>Barcode #</th>
                <th class="hidden lg:table-cell">Description</th>
                <th class="hidden lg:table-cell">Manufacturer</th>
                <th class="hidden md:table-cell">Status</th>
                <th class="hidden md:table-cell">Service Assignment</th>
                <th class="hidden md:table-cell">Category</th>
                <th>Edit</th>
            </tr>
        </thead>
        {{#if tools}}
            <tbody>
                {{#each tools}}
                    {{#unless archived}}
                        <tr>
                            <td id="serialNumber">{{serialNumber}}</td>
                            <td class="hidden md:table-cell" id="partNumber">{{partNumber}}</td>
                            <td id="barcode">{{barcode}}</td>
                            <td class="hidden lg:table-cell" id="description">{{description}}</td>
                            <td class="hidden lg:table-cell" id="manufacturer">{{manufacturer}}</td>
                            <td class="hidden md:table-cell" id="status">{{status}}</td>
                            <td class="hidden md:table-cell" id="serviceAssignment">{{serviceAssignment.name}}</td>
                            <td class="hidden md:table-cell" id="category">{{category.name}}
                            </td>
                            <td><label class="rounded-badge btn-xs"><a href="/tool/{{id}}"><i
                                            class="fa fa-pencil"></i></a></label></td>
                        </tr>
                    {{/unless}}
                {{/each}}
        {{/if}}
        </tbody>
    </table>
</div>
<div class="ml-10 pl-18 dropdown dropdown-right">
    <label tabindex="0" class="btn btn-circle btn-ghost btn-xs text-info">
        <h1>Test Section</h1>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 36 36" class="w-4 h-4 stroke-current">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
        </svg>
    </label>
    <div class="bg-white shadow w-max card dropdown-content">
        <h2>Categories:</h2>
        <div class="bg-fuchsia-500">
        <ul class="text-white list-disc">
            {{#each categories}}
                <li>{{this.name}} -- {{this.id}}</li>
            {{/each}}
        </ul></div>
        <hr />
        <h2>Tools:</h2>
        <ul class="list-decimal">
            {{#each tools}}
                <li><div class="bg-teal-500">{{this.id}}: </div><ul class="list-disc">
                        <li>SN: {{this.serialNumber}}</li>
                        <li>PN: {{this.partNumber}}</li>
                        <li>Barcode: {{this.barcode}}</li>
                        <li>Status: {{this.status}}</li>
                        <li>SA: {{this.serviceAssignment.name}}</li>
                        <li>Desc: {{this.description}}</li>
                    </ul>
                </li>
            {{/each}}
        </ul>
        <hr />
        <h2>Service Assignments</h2>
        {{#each serviceAssignments}}
            <li>{{this.name}} -- {{this.id}}</li>
        {{/each}}
        <hr />
        <h2>Current User</h2>
        <ul>
            <li>{{user.displayName}} -- {{user.id}} -- {{JSONstringify user.preferences}}</li>
        </ul>
        <hr />
    </div>
</div>
<br />
{{#gt pagination.pageCount 1}}
    <ul class="paginate-bar">
        {{#paginate pagination type="first"}}
            <div class="col-auto"><a href="?p={{n}}"><button class="btn-paginate">First</button></a></div>
        {{/paginate}}
        {{#paginate pagination type="previous"}}
            <div class="col-auto"><a href="?p={{n}}"><button class="btn-paginate">Previous</button></a></div>
        {{/paginate}}
        {{#paginate pagination type="middle" limit="9"}}
            <div class="{{#if active}}active{{/if}} col"><a href="?p={{n}}"><button
                        class="btn-paginate">{{n}}</button></a>
            </div>
        {{/paginate}}
        {{#paginate pagination type="next"}}
            <div class="col-auto"><a href="?p={{n}}"><button class="btn-paginate">Next</button></a></div>
        {{/paginate}}
        {{#paginate pagination type="last"}}
            <div class="col-auto"><a href="?p={{n}}"><button class="btn-paginate">Last</button></a></div>
        {{/paginate}}
    </ul>
{{/gt}}