<div class="main-view">
    {{#if tools}}
        <div class="title-bar">
            <h3 class="title-text">Edit Tool(s)</h3>
        </div>
        <form action="/tool/update" method="POST">
            {{#each tools as |tool|}}
                <!-- this is the table of inputs -->
                <div class="grid grid-cols-1 gap-2 form-control md:grid-cols-3">
                    <input name="_id" value="{{_id}}" type="hidden" placeholder="Tool ID"
                        class="input input-bordered" />
                    <div class="form-control">
                        <label for="serialNumber" class="label"><span class="label-text">SN:</span></label>
                        <input name="serialNumber" disabled value="{{serialNumber}}" type="text"
                            placeholder="Serial Number" class="input input-bordered" />
                    </div>
                    <div class="form-control">
                        <label for="partNumber" class="label"><span class="label-text">PN:</span></label>
                        <input name="partNumber" value="{{partNumber}}" type="text" placeholder="Part Number"
                            class="input input-bordered" />
                    </div>
                    <div class="form-control">
                        <label for="barcode" class="label"><span class="label-text">Barcode:</span></label>
                        <input name="barcode" value="{{barcode}}" type="text" placeholder="Barcode"
                            class="input input-bordered" />
                    </div>
                    <div class="col-span-2 form-control">
                        <label for="description" class="label"><span class="label-text">Description:</span></label>
                        <input name="description" value="{{description}}" type="text" placeholder="Description"
                            class="input input-bordered" />
                    </div>
                    <div class="form-control">
                        <label for="serviceAssignment" class="label"><span class="label-text">Service
                                Assignment</span></label>
                        <select name="serviceAssignment" class="select select-bordered">
                            {{#each ../serviceAssignments}}
                                <option name='{{ name }}' value='{{ _id }}' {{isSelected _id ../serviceAssignment}}>
                                    {{ name }}
                                </option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-control">
                        <label for="status" class="label"><span class="label-text">Status</span></label>
                        <select name="status" class="select select-bordered">
                            <option value="Checked In" {{#eq status "Checked In" }}selected{{/eq}}>Checked-In
                            </option>
                            <option value="Checked Out" {{#eq status "Checked Out" }}selected{{/eq}}>Checked-Out
                            </option>
                        </select>
                    </div>
                    <div class="form-control">
                        <label for="category" class="label"><span class="label-text">Category</span></label>
                        <select name="category" class="select select-bordered">
                            {{#each ../categories}}
                                <option name='{{ name }}' value='{{ _id }}' {{isSelected _id ../category}}>{{ name }}
                                </option>
                            {{/each}}
                        </select>
                    </div>
                </div>
            {{/each}}
            <!-- this is the button row -->
            <div class="modal-button-row">
                <label class="modal-button"><a href="/dashboard">Cancel</a></label>
                <label class="modal-button"><button type="submit">Submit</button></label>
            </div>
        </form>
    {{else}}
        <h3 class="alert-danger">Somehow you got to the <i>edit tool</i> page without the tool's data</h3>
    {{/if}}</div>
    <div class="main-view">
    {{#if toolHistory}}
        <table>
            <thead>
                <tr>
                    <th>Part Number</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Service Assignment</th>
                    <th>Category</th>
                    <th>Date Updated (UTC)</th>
                    <th>Version Number</th>
                </tr>
            </thead>
            {{#each toolHistory as |entry|}}
            <tr>
                <td>{{entry.partNumber}}</td>
                <td>{{entry.description}}</td>
                <td>{{entry.status}}</td>
                <td>{{getServiceAssignmentName ../serviceAssignments entry.serviceAssignment}}</td>
                <td>{{getCategoryName ../categories entry.category}}</td>
                <td>{{moment entry.updatedAt format="MM/DD/YYYY hh:mm A"}}</td>
                <td>{{entry.__v}}</td>
                </tr>
            {{/each}}
        </table>
        {{else}}
        <p>We don't have any history for this tool.</p>
    {{/if}}
</div>