<div class="main-view">
    {{#if tools}}
    <form action="/tool/update" method="POST">
        <div class="tool-table">
            <div class="title-bar">
                <h3 class="title-text">Edit Tool(s)</h3>
            </div>
            {{#each tools}}
            {{#unless archived}}
            <input name="_id" value="{{_id}}" type="hidden" placeholder="Tool ID" class="input input-bordered" />
            <input name="serialNumber" value="{{serialNumber}}" type="text" placeholder="Serial Number"
                class="input input-bordered" />
            <input name="partNumber" value="{{partNumber}}" type="text" placeholder="Part Number"
                class="input input-bordered" />
            <input name="barcode" value="{{barcode}}" type="text" placeholder="Barcode" class="input input-bordered" />
            <input name="description" value="{{description}}" type="text" placeholder="Description"
                class="input input-bordered" />
            <input name="serviceAssignment" value="{{serviceAssignment}}" type="text" placeholder="Service Assignment"
                class="input input-bordered" />
            <select name="status" class="select select-bordered">
                <option>Status</option>
                <option value="Checked In" {{#eq status "Checked In" }}selected{{/eq}}>Checked-In</option>
                <option value="Checked Out" {{#eq status "Checked Out" }}selected{{/eq}}>Checked-Out</option>
            </select>
            <hr class="seperator" />
            <hr class="seperator" />
            <hr class="seperator" />
            {{/unless}}
            {{/each}}
            <div class="modal-button-row">
                <label class="modal-button"><a href="/dashboard">Cancel</a></label>
                <label class="modal-button"><button type="submit">Submit</button></label>
            </div>
        </div>
    </form>

</div>
{{else}}
<h3 class="alert-danger">Somehow you got to the <i>edit tool</i> page without the tool's data</h3>
{{/if}}