<div class="main-view">
    <div class="title-bar">
        <h3 class="title-text">User Profile</h3>
    </div>
    <div class="form-wrapper">
        <form action="/user/profile" method="POST">
            <div class="form-row">
                <div class="form-control">
                    <label class="label"><span class="label-text">Given Name</span></label>
                    <input id="profile_firstName" name="firstName" type="text" value="{{user.firstName}}"
                        class="input input-bordered" />
                </div>
                <div class="form-control">
                    <label class="label"><span class="label-text">Family Name</span></label>
                    <input id="profile_lastName" name="lastName" type="text" value="{{user.lastName}}"
                        class="input input-bordered" />
                </div>
                <div class="form-control">
                    <label class="label"><span class="label-text">Email</span></label>
                    <input id="profile_email" name="email" type="text" value="{{user.email}}" class="input input-bordered" />
                </div>
                <div class="form-control">
                    <label class="label" for="profile_role"><span class="label-text">Role</span></label>
                    <select class="select select-bordered" name="profile_role" id="profile_role" aria-label="profile_role" disabled>
                        <option value="User" {{isSelected user.role "User" }}>User</option>
                        <option value="Manager" {{isSelected user.role "Manager" }}>Manager</option>
                        <option value="Admin" {{isSelected user.role "Admin" }}>Admin</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-control">
                    <label class="label" for="theme"><span class="label-text">Visual Theme</span></label>
                    <select name="theme" id="profile_theme" class="select select-bordered" aria-label="theme-preferences">
                        <option value="light" {{isSelected user.preferences.theme "light" }}>Light</option>
                        <option value="cupcake" {{isSelected user.preferences.theme "cupcake" }}>Cupcake
                        </option>
                        <option value="dracula" {{isSelected user.preferences.theme "dracula" }}>Dracula
                        </option>
                        <option value="corporate" {{isSelected user.preferences.theme "corporate" }}>Corporate
                        </option>
                        <option value="synthwave" {{isSelected user.preferences.theme "synthwave" }}>Synthwave
                        </option>
                    </select>
                </div>
                <div class="form-control">
                    <label class="label"><span class="label-text">Sort Field</span></label>
                    <select name="sortField" id="profile_sortField" class="select select-bordered"
                        aria-label="sort-field-preferences">
                        <option value="serialNumber" {{isSelected user.preferences.sortField "serialNumber" }}>
                            Serial Number
                        </option>
                        <option value="modelNumber" {{isSelected user.preferences.sortField "modelNumber" }}>Model
                            Number</option>
                        <option value="barcode" {{isSelected user.preferences.sortField "barcode" }}>
                            Barcode
                        </option>
                        <option value="status" {{isSelected user.preferences.sortField "status" }}>
                            Status
                        </option>
                        <option value="serviceAssignment"
                            {{isSelected user.preferences.sortField "serviceAssignment" }}>
                            Service Assignment</option>
                    </select>
                </div>
                <div class="form-control">
                    <label class="label"><span class="label-text">Sort Direction</span></label>
                    <select name="sortDirection" id="profile_sortDirection" class="select select-bordered"
                        aria-label="sort-direction-preferences">
                        <option value="asc" {{isSelected user.preferences.sortDirection "asc" }}>Ascending
                        </option>
                        <option value="desc" {{isSelected user.preferences.sortDirection "desc" }}>
                            Descending
                        </option>
                    </select>
                </div>
                <div class="form-control">
                    <label class="label"><span class="label-text">Page Size</span></label>
                    <select name="pageSize" id="profile_pageSize" class="select select-bordered"
                        aria-label="page-size-preferences">
                        <option value="10" {{isSelected user.preferences.pageSize '10' }}>10</option>
                        <option value="25" {{isSelected user.preferences.pageSize '25' }}>25</option>
                        <option value="50" {{isSelected user.preferences.pageSize '50' }}>50</option>
                        <option value="100" {{isSelected user.preferences.pageSize '100' }}>100</option>
                        <option value="-1" {{isSelected user.preferences.pageSize '-1' }}>Infinite
                        </option>
                    </select>
                </div>
                <div class="form-control">
                    <span class="text-sm  rounded-l px-4 py-2 whitespace-no-wrap">Developer Mode?
                        <input type="checkbox" id="profile_developer" name="developer" class="checkbox-primary checkbox-sm rounded-xl ml-3" {{#eq user.preferences.developer 'on'}}checked{{/eq}}>
                    </span>
                </div>
            </div>
            <div class="form-button-row">
                <button type="reset" class="btn btn-accent">Cancel</button>
                <button type="submit" id="profile_submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>