<div class="main-view">
    {{!-- tools to be checked in --}}
    <form action="#">
        <table class="table overflow-visible ">
            <thead>
                <tr>
                    <th>Serial number</th>
                    <th>Barcode</th>
                    <th>Current SA</th>
                    <th>Select New SA</th>
                </tr>
            </thead>
            {{#if tools}}
                <tbody>
                    {{#each tools}}
                        <tr>
                            <input type="hidden" name="id" value="{{id}}">
                            <td name="serialNumber">{{serialNumber}}</td>
                            <td name="barcode">{{barcode}}</td>

                            <td name="serviceAssignment">{{serviceAssignment.name}} -
                                {{serviceAssignment.description}}
                            </td>
                            <td name="newServiceAssignmment">
                                <select name="searchTerm" class="select select-bordered">
                                    {{#each serviceAssignments}}
                                        <option name="{{ this.name }}" value="{{ this.id }}">{{ this.name }} -
                                            {{this.description}}</option>
                                    {{/each}}
                                </select>
                            </td>
                            <td><label class="rounded-badge btn-xs"><a href="/tool/{{id}}"><i
                                            class="fa fa-pencil"></i></a></label>
                            </td>
                        </tr>
                    {{/each}}
            {{/if}}
            </tbody>
        </table>
    </form>
</div>