<div class="main-view">
    {{#if message}}
        <span title="message">
            <div class="alert">{{message}}</div>
        </span>
    {{/if}}
    {{#if searchTerms}}
        <h4>You searched for: {{searchTerms}}</h4>
    {{/if}}
    <table class="table">
        <thead>
            <tr>
                <th>Display Name</th>
                <th>Email</th>
                <th>Last Login</th>
                <th>Role</th>
                <th>Disabled?</th>
                <th>Edit</th>
            </tr>
        </thead>

        <tbody>
            {{#if users}}
                {{#each users}}

                    <tr class="text-center">
                        <td class=" hover:bg-zinc-600">
                            {{displayName}}
                        </td>
                        <td>{{email}}

                        </td>
                        <td class=" hover:bg-zinc-600">
                            {{lastLogin}}
                        </td>
                        <td>{{role}}

                        </td>
                        <td class=" hover:bg-zinc-600">
                            {{isDisabled}}
                        </td>
                        <td class=" hover:bg-zinc-600">
                            <div class="dropdown dropdown-end">
                                <label tabindex="0"
                                    class="py-2 text-lg font-medium hover:text-black btn-ghost rounded-btn">
                                    <i class="fa-solid fa-chevron-down"></i></label>
                                <ul tabindex="0"
                                    class="p-2 mt-4 shadow menu dropdown-content rounded-box w-52">
                                    <li><a href="/manager/{{id}}">Edit</a></li>
                                    <li><a href="/manager/disable/{{id}}">Disable</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>

                {{/each}}
            {{/if}}
        </tbody>
    </table>
</div>
<div class="float-right mx-6">
    <div class="inline-block px-4 py-2 text-lg font-medium no-underline rounded-lg btn hover:text-black lg:-ml-2">
        <label for="newUserModal">New User</label>
        </div>
</div>