{{#if user.preferences.developer}}
<div class="flex justify-between mx-[8%]" id="developer">
  <div class="grid grid-cols-3 gap-4 max-w-screen-md">
    {{#forEach (organizeContext .)}}
    <div class="overflow-auto max-h-[150px]">
      <h2 class="font-bold mb-2">{{key}}</h2>
      <pre class="whitespace-pre-wrap break-words">{{stringify content}}</pre>
    </div>
    {{/forEach}}
  </div>
</div>
{{#if onboarding}}
<div class="flex justify-between mx-[8%]" id="developer">
Onboarding: true
Dashboard: {{onboarding.progress.dashboardCompleted}}
Users: {{onboarding.progress.usersSetup}}
Profile: {{onboarding.progress.profileCompleted}}
  Import: {{onboarding.progress.importCompleted}}
  Completed On: {{onboarding.completedAt}}
</div>
{{/if}}
{{/if}}
