<div class='container p-3 ml-5 bg-zinc-400 rounded-box w-44'>
    <ul class='side-nav'>
        <div class='mb-2 p-0.5 rounded-xl hover:text-base-100 hover:bg-base-100'>
            <li><a href='{{baseUrl}}/docs/faq'>F.A.Q</a></li>
        </div>
        <div class='mb-2 p-0.5 rounded-xl hover:text-base-100 hover:bg-base-300'>
            <li><a href='{{baseUrl}}/docs/gettingStarted'>Service Assignments </a></li>
        </div>
        <div class='mb-2 p-0.5 rounded-xl hover:text-base-100 hover:bg-base-300'>
            <li> <a href='{{baseUrl}}/docs/coreFeatures'>Core Features</a></li>
        </div>
        <div class='mb-2 p-0.5 rounded-xl hover:text-base-100 hover:bg-base-300'>
            <li><a href='{{baseUrl}}/docs/userRoles'>User Roles and Permissions</a></li>
        </div>
        <div class='mb-2 p-0.5 rounded-xl hover:text-base-100 hover:bg-base-300'>
            <li><a href='{{baseUrl}}/docs/toolManagement'>Tool Management</a></li>
        </div>
        <div class='mb-2 p-0.5 rounded-xl hover:text-base-100 hover:bg-base-300'>
            <li><a href='{{baseUrl}}/docs/serviceAssignments'>Service Assignment Workflow</a></li>
        </div>
        <div class='mb-2 p-0.5 rounded-xl hover:text-base-100 hover:bg-base-300'>
            <li><a href='{{baseUrl}}/docs/reporting'>Reporting</a></li>
        </div>
        <div class='mb-2 p-0.5 rounded-xl hover:text-base-100 hover:bg-base-300'>
            <li><a href='{{baseUrl}}/docs/administrator'>Administrator Guide</a></li>
        </div>
        <div class='mb-2 p-0.5 rounded-xl hover:text-base-100 hover:bg-base-300'>
            <li><a href='{{baseUrl}}/docs/troubleshooting'>Troubleshooting and Support</a></li>
        </div>
    </ul>
</div>