{{#if user}}
  <nav id="header">
    <div class="flex items-center justify-between w-full px-6 py-2 mt-0">
      {{!-- Logo that links to dashboard so we can't get lost --}}
      <a href="/dashboard"> <img src="/img/toolKeeperLogo-dark-small.png" width="125px" height="auto"></a>
      {{!-- Mobile NavBar --}}
      <div class="justify-between order-2 md:hidden" id="menu">
        <ul class="flex items-center justify-between gap-5 pt-4 text-base">
          <li><a href="/dashboard"><i class="fa-solid fa-house"></i></a></li>
          <li><label for="newToolModal" style="cursor:pointer"><i class="fa-sharp fa-solid fa-plus"></i></label></li>
          <li><label for="checkInOutModal" style="cursor:pointer"><i class="fa-solid fa-rotate-right"></i></label></li>
          <li><label for="searchToolModal" style="cursor:pointer"><i class="fa-solid fa-magnifying-glass"></i></label>
          </li>
        </ul>
      </div>
      {{!-- Medium+ Viewport NavBar --}}
      <div class="z-10 order-3 hidden w-full md:flex md:items-center md:w-auto md:order-1" id="menu">
        <ul class="items-center justify-between pt-4 text-base md:flex md:pt-0">
          <li><a class="inline-block px-4 py-2 text-lg font-medium no-underline hover:text-black lg:-ml-2"
              href="/dashboard" id="dashboardLink" {{#unless onboarding.progress.dashboardCompleted}} data-title="Dashboard" data-intro="This is how you get back to the dashboard."{{/unless}}>Dashboard</a></li>
          <li class="flex flex-wrap text-center justify-center">
            <div class="dropdown dropdown-hover">
              <label tabindex="0" class="p-2 rounded text-lg font-medium text-white-50 hover:text-black"
                style="cursor:pointer" id="createLink" {{#unless onboarding.progress.dashboardCompleted}} data-title="Create" data-intro="This is how you create items from anywhere across the platform."{{/unless}}>Create <i class="fa-solid fa-chevron-down"></i></label>
              <ul tabindex="0" class="w-full drop-shadow menu dropdown-content rounded-lg ">
                <li class="hover:border-gray-300 bg-base-100">
                  <label for="newToolModal" style="cursor:pointer">Tool</label>
                </li>
                <li class="hover:border-gray-300 bg-base-100">
                  <label for="newServiceAssignmentModal" style="cursor:pointer">Service Assignment</label>
                </li>
                <li class="hover:border-gray-300 bg-base-100">
                  <label for="newCategoriesModal" style="cursor:pointer">Category</label>
                </li>
              </ul>
            </div>
          </li>
          <li><a class="inline-block px-4 py-2 text-lg font-medium no-underline hover:text-black lg:-ml-2"><label
                for="checkInOutModal" style="cursor:pointer" id="checkInOutLink" {{#unless onboarding.progress.dashboardCompleted}} data-title="Check-In/Out" data-intro="This is how you check in and out tools."{{/unless}}>Check-In/Out</label></a></li>
          <li><a class="inline-block px-4 py-2 text-lg font-medium no-underline hover:text-black lg:-ml-2"><label
                for="searchToolModal" style="cursor:pointer" id="searchLink" {{#unless onboarding.progress.dashboardCompleted}} data-title="Search Tools" data-intro="This is how you search for tools by whatever fields you'd like."{{/unless}}>Search Tools</label></a></li>
        </ul>

      </div>
      {{!-- User Menu --}}
      <div class="flex flex-wrap items-center justify-end order-2 mr-0 md:order-3" id="nav-content">
        <div class="z-10 flex items-center w-full">
          <div class="dropdown dropdown-end" id="userMenu" {{#unless onboarding.progress.dashboardCompleted}} data-title="User Menu" data-intro="This is where you can access your profile and settings."{{/unless}}>
            <label tabindex="0" class="p-2 bg-transparent border border-gray-300 rounded text-white-50 hover:text-black"
              style="cursor:pointer">{{user.name}} <i class="fa-solid fa-chevron-down"></i></label>
            <ul tabindex="0" class="w-full mt-2 rounded shadow menu dropdown-content rounded-b-box">
              <li class="hover:border-gray-300 bg-base-100"><a href="/user/profile">Profile</a></li>
              {{#contains "Manager, Admin, Superadmin" user.role}}
                <li class="hover:border-gray-300 bg-base-100"><a href="/settings">Settings</a></li>
                <li class="hover:border-gray-300 bg-base-100"><a href="/logs">Logs</a></li>
                <li class="hover:border-gray-300 bg-base-100"><a href="https://store.ado.software" target="_blank">Billing</a></li>
              {{/contains}}
              {{#eq user.role "Superadmin"}}
                <li class="hover:border-gray-300 bg-base-100"><a href="/settings/tenant">Tenants</a></li>
              {{/eq}}
              <li class="hover:border-gray-300 bg-base-100"><a href="{{baseUrl}}/docs" target="_blank">Docs</a></li>
              <li class="hover:border-gray-300 bg-base-100"><a href="/logout">Logout</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
{{else}}
  {{!--  Logged out navbar --}}
  <!-- component -->
  <nav id="header">
    <div class="flex items-center justify-between w-full px-6 py-2 mt-0">
      <a href="/">
        <img class="hidden md:flex" src="/img/toolKeeperLogo-dark-full.png" width="275px" height="auto">
        <img class="flex md:hidden" src="/img/toolKeeperLogo-dark-small.png" width="115px" height="auto">
      </a>
      <label for="menu-toggle" class="block cursor-pointer md:hidden">
        <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
          <title>menu</title>
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
        </svg>
      </label>
      <input class="hidden" type="checkbox" id="menu-toggle">
      <div class="order-3 hidden w-full md:flex md:items-center md:w-auto md:order-1" id="menu">
        <nav>
          <ul class="items-center justify-between pt-4 text-base md:flex md:pt-0">
            <li><a
                class="inline-block px-4 py-2 text-lg font-medium no-underline text-zinc-800 dark:text-zinc-300 hover:bg-zinc-300 dark:hover:bg-zinc-700 hover:text-zinc-900 dark:hover:text-zinc-100 transition-colors lg:-ml-2"
                href="{{baseUrl}}/#features">Features</a></li>
            <li><a
                class="inline-block px-4 py-2 text-lg font-medium no-underline text-zinc-800 dark:text-zinc-300 hover:bg-zinc-300 dark:hover:bg-zinc-700 hover:text-zinc-900 dark:hover:text-zinc-100 transition-colors lg:-ml-2"
                href="{{baseUrl}}/#pricing">Pricing</a></li>
            <li><a
                class="inline-block px-4 py-2 text-lg font-medium no-underline text-zinc-800 dark:text-zinc-300 hover:bg-zinc-300 dark:hover:bg-zinc-700 hover:text-zinc-900 dark:hover:text-zinc-100 transition-colors lg:-ml-2"
                href="{{baseUrl}}/docs">Docs</a></li>
          </ul>
        </nav>
      </div>


      <!-- Login Button -->
      <div class="flex flex-wrap items-center justify-end order-3 mr-0 columns-2 md:mr-4" id="authButtons">
        <div class="flex items-center order-2 w-full md:w-full">
          <a href="/login"><button
              class="p-2 mr-4 bg-transparent border border-gray-300 rounded  text-zinc-800 dark:text-zinc-300 hover:bg-zinc-300 dark:hover:bg-zinc-700 hover:text-zinc-900 dark:hover:text-zinc-100 transition-colors">Login</button></a>
          <a href="/register"><button
              class="p-2 mr-4 bg-transparent border border-gray-300 rounded  text-zinc-800 dark:text-zinc-300 hover:bg-zinc-300 dark:hover:bg-zinc-700 hover:text-zinc-900 dark:hover:text-zinc-100 transition-colors">Register</button></a>
          <div><button type="button" id="theme-toggle" class="rounded-lg hover:bg-zinc-100 dark:hover:bg-zinc-700">
              <!-- Sun icon for dark mode -->
              <svg id="theme-toggle-light-icon" class="hidden w-5 h-5 text-zinc-800 dark:text-zinc-200"
                fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" />
              </svg>
              <!-- Moon icon for light mode -->
              <svg id="theme-toggle-dark-icon" class="hidden w-5 h-5 text-zinc-800 dark:text-zinc-200"
                fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z" />
              </svg>
            </button>
          </div>
        </div>

      </div>

    </div>
  </nav>
{{/if}}