<div class="main-view z-0 relative">
<table class="table overflow-visible ">
    <thead>
      <tr>
        <th>Serial number</th>
        <th class="hidden md:table-cell">Tool ID</th>
        <th>Barcode #</th>
        <th class="hidden lg:table-cell">Description</th>
        <th class="hidden lg:table-cell">Manufacturer</th>
        <th class="hidden md:table-cell">Status</th>
        <th class="hidden md:table-cell">Service Assignment</th>
        <th class="hidden md:table-cell">Category</th>
        <th>Edit</th>
      </tr>
    </thead>
    {{#if tools}}
      <tbody>
        {{#each tools}}
          {{#unless archived}}
            <tr>
              <td id="serialNumber">{{serialNumber}}</td>
              <td class="hidden md:table-cell" id="modelNumber">{{toolID}}</td>
              <td id="barcode">{{barcode}}</td>
              <td class="hidden lg:table-cell" id="description">{{description}}</td>
              <td class="hidden lg:table-cell" id="manufacturer">{{manufacturer}}</td>
              <td class="hidden md:table-cell" id="status">{{status}}</td>
              <td class="hidden md:table-cell" id="serviceAssignment">{{serviceAssignment.name}} -
                {{serviceAssignment.description}}</td>
              <td class="hidden md:table-cell" id="category">{{category.name}}
              </td>
              <td><label class="rounded-badge btn-xs"><a href="/tool/{{id}}"><i class="fa fa-pencil"></i></a></label>
              </td>
            </tr>
          {{/unless}}
        {{/each}}
    </tbody>
    {{/if}}
  </table>
  <div id="printButton" class="absolute left-0 bottom-0">
    <label onclick="openInNewTab()"><i class="fa-solid fa-print"></i></label>
      {{!-- THIS IS THE PRINTER FRIENDLY PAGES HTML. THIS IS JUST A CONVENIENT PLACE FOR HANDLEBARS TO RENDER IT --}}
      <script type="text/x-handlebars-template" id="printerFriendlyTools">
        <!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=816, initial-scale=1.0" /><title>Report from ToolKeeper</title><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="crossorigin="anonymous"referrerpolicy="no-referrer"/><link href="https://toolkeeper.ep.ado.software/css/style.css" rel="stylesheet" /><link href='https://fonts.googleapis.com/css?family=Libre Barcode 39' rel='stylesheet'></head><body><style>td .barcode { font-family: 'Libre Barcode 39';font-size: 12pt; }</style><section><table class="table table-zebra grid grid-cols-5"><thead><th>Serial Number</th><th>Model Number</th><th>Tool ID</th><th class="col-span-2">Description</th><th>Barcode</th></thead><tbody><tr><td class="col-span-6">{{#eq "serviceAssignment" searchBy}}<h1 class="text-2xl" id="search-terms">Searched For:{{getServiceAssignmentName allServiceAssignments searchTerm}}.Total Results:{{totalFound}}</h1>{{/eq}}{{#eq "category" searchBy}}<h1 class="text-2xl" id="search-terms">Searched For:{{getCategoryName categories searchTerm}}. Total Results:{{totalFound}}</h1>{{/eq}}{{#if (searchingForOneTool searchBy)}}<h1 class="text-2xl" id="search-terms">Searched For:{{searchTerm}}. Total Results:{{totalFound}}</h1>{{/if}}</td></tr>{{#each tools}}<tr><td>{{serialNumber}}</td><td>{{modelNumber}}</td><td>{{toolID}}</td><td class="col-span-2">{{description}}</td><td class="barcode">{{barcode}}</td></tr>{{/each}}</tbody></table></section></body></html>
      </script>
      {{!-- END OF CONVENIENT SSR LOCATION --}}
  </div>
</div>
